* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#navbarNavAltMarkup {
    justify-content: flex-end;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: #111;
}
img {
    max-width: 100%;
  height: auto;
}
#header-back {
    background-image: url(bg-header.jpg);
    background-size: cover;
    /* parallax effect: */
    background-attachment: fixed;
    height: 100vh;
}

#navbar-brand img{
    height: 30;
    width: 30;

}